@inject danklibrary.DankAPI.Dash DashAPI
@inject IJSRuntime JSRuntime
@inject NotificationService NotificationService

@page "/"

<PageTitle>dashboard</PageTitle>

<div style="display: flex; gap: 1rem; margin-top: 1rem; margin-bottom: 1rem;">
    <RadzenButton Icon="add" Click="@OnClickAdd" />
</div>

<RadzenRow Gap="1rem">
    @if (null != dashboardItems)
    {
        foreach (DashboardItem item in dashboardItems)
        {
            <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="3" SizeLG="2">
                <RadzenCard onclick="@(() => OnClickCard(item))" id="@($"fluentcard_{item.ID}")" class="dashboard_card">
                    <div hidden="@(!editHiddenDict[item.ID])">
                        <RadzenRow>
                            <RadzenColumn Size="8">
                                <RadzenRow>
                                    <RadzenText class="dashboard_card_text">
                                        @item.DisplayName
                                    </RadzenText>
                                </RadzenRow>
                                <RadzenRow>
                                    <RadzenText class="dashboard_card_text">
                                        @item.URL
                                    </RadzenText>
                                </RadzenRow>
                                <RadzenRow>
                                    <RadzenText class="dashboard_card_text">
                                        @item.Description
                                    </RadzenText>
                                </RadzenRow>
                            </RadzenColumn>
                            <RadzenColumn Size="4">
                                <RadzenRow Style="width: 100%; margin-bottom: 0.5rem;">
                                    <RadzenButton Icon="edit" Click="@(() => OnClickEdit(item.ID))" Style="margin-left: auto; margin-right: 0;" Size="ButtonSize.ExtraSmall"/>
                                </RadzenRow>
                                <RadzenRow Style="width: 100%; margin-bottom: 0.5rem;">
                                    @if (null != item.Icon)
                                    {
                                        <img src="@item.Icon" style="width: 4rem; height: 4rem; background-color: transparent; margin-left: auto; margin-right: 0;" />
                                    }
                                </RadzenRow>
                            </RadzenColumn>
                        </RadzenRow>
                    </div>
                    <div hidden="@(editHiddenDict[item.ID])">
                        <RadzenColumn Size="12">
                            <RadzenRow>
                                <RadzenTextBox @bind-Value="@(item.DisplayName)" Placeholder="Display Name" class="dashboard_card_text"/>
                            </RadzenRow>
                            <RadzenRow>
                                <RadzenTextBox @bind-Value="@(item.URL)" Placeholder="URL" class="dashboard_card_text" />
                            </RadzenRow>
                            <RadzenRow>
                                <RadzenTextArea @bind-Value="@(item.Description)" Placeholder="Description" class="dashboard_card_text" />
                            </RadzenRow>
                            <RadzenRow Style="display: flex; justify-content: center; margin-bottom: 0.5rem; flex-direction: row;">
                                @if (null != item.Icon)
                                {
                                    <div style="width: fit-content; height: 100%; position: relative; margin-left: auto; margin-right: auto;">
                                        <img src="@(item.Icon)" style="width: 8rem; height: 8rem;" />
                                        <RadzenButton Click="@(() => OnDeleteIcon(item.ID))" Size="ButtonSize.ExtraSmall" Style="position: absolute; right: 2px; top: 2px;" Icon="delete" />
                                    </div>
                                }
                                else
                                {
                                    <div style="width: 8rem; height: 8rem; border-style: dashed; border-color: grey; border-width: 1px; position: relative; display: flex; justify-content: center; align-content: center; margin-left: auto; margin-right: auto;">
                                        <label for=@item.ID>
                                            <RadzenIcon Icon="add" Style="width: 100%; height: 100%;" />
                                        </label>

                                        <InputFile onchange="@(args => IconUpload(args, item.ID))" id="@item.ID" style="width: 0%; height: 0; overflow: hidden;" accept="*.png, *.jpg, *.jpeg" />
                                    </div>
                                }
                            </RadzenRow>
                            <RadzenRow Style="display: inline-flex; flex-direction: row;">
                                <RadzenButton Style="max-width: 45%" Click="@(() => OnClickCardSave(item.ID))">Save</RadzenButton>
                                <RadzenButton Style="margin-right: 0; margin-left: auto; max-width: 45%;" Click="@(() => OnClickCardDelete(item.ID))">Delete</RadzenButton>
                            </RadzenRow>
                        </RadzenColumn>
                    </div>
                </RadzenCard>
            </RadzenColumn>
        }
    }
    else
    {
        <RadzenProgressBarCircular Mode="ProgressBarMode.Indeterminate" />
    }
    <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="3" SizeLG="2" hidden="@(addHidden)">
        <RadzenCard class="dashboard_card">
            <RadzenTextBox @bind-Value="@newDisplay" Placeholder="Display Name" class="dashboard_card_text"/>
            <RadzenTextBox @bind-Value="@newURL" Placeholder="URL" class="dashboard_card_text" />
            <RadzenTextArea @bind-Value="@newDescription" Placeholder="Description" class="dashboard_card_text"/>
            @if (newIcon == String.Empty) 
            {
                <div style="width: 8rem; height: 8rem; border-style: dashed; border-color: grey; border-width: 1px; position: relative; display: flex; justify-content: center; align-content: center;">
                    <label for="upload_new_pic">
                        <RadzenIcon Icon="add" Style="width: 100%; height: 100%;" />
                    </label>

                    <InputFile onchange="@(args => NewIconUpload(args))" id="upload_new_pic" style="width: 0%; height: 0; overflow: hidden;" accept="*.png, *.jpg, *.jpeg" />
                </div>
            } 
            else 
            {
                <img src="@(newIcon)" style="width: 8rem; height: 8rem;" />
            }


            <RadzenButton Click="@OnClickNewSave" Icon="save" class="right_button"/>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

@code {
    List<DashboardItem>? dashboardItems;

    bool addHidden;

    Dictionary<int, bool> editHiddenDict = new();

    string newDisplay = String.Empty;
    string newURL = String.Empty;
    string newDescription = String.Empty;
    string newIcon = String.Empty;

    private long maxFileSize = 1024 * 64;

    async protected override Task OnInitializedAsync()
    {
        addHidden = true;

        dashboardItems = await DashAPI.GetAll();

        if (null != dashboardItems) 
        {
            foreach (var item in dashboardItems)
            {
                if (!editHiddenDict.ContainsKey(item.ID)) 
                {
                    editHiddenDict.Add(item.ID, true);
                }
            }
        }

        await base.OnInitializedAsync();
    }

    async void OnClickCard(DashboardItem item) {
        if (editHiddenDict[item.ID]) {
            if (DashboardItem.UrlIsValid(item))
            {
                await JSRuntime.InvokeVoidAsync("open", $"{item.URL}", "_blank");
            }
        }
    }

    void OnClickAdd() {
        addHidden = !addHidden;
    }

    void OnClickEdit(int ID) {
        editHiddenDict[ID] = !editHiddenDict[ID];
    }

    async void OnClickCardSave(int ID) {
        if (null != dashboardItems) {
            DashboardItem? editItem = dashboardItems.Where(x => x.ID == ID).FirstOrDefault();

            if (null != editItem) {
                try
                {
                    await DashAPI.EditItem(editItem);
                    dashboardItems = await DashAPI.GetAll();

                    ShowNotification(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Success,
                            Summary = "Success",
                            Detail = $"{editItem.ID} successfully edited",
                            Duration = 4000
                        });


                    if (editHiddenDict.ContainsKey(ID)) 
                    {
                        editHiddenDict[ID] = true;
                    } 
                    else 
                    {
                        editHiddenDict.Add(ID, true);
                    }
                    
                    StateHasChanged();
                }
                catch(Exception ex)
                {
                    ShowNotification(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "Error",
                            Detail = ex.Message,
                            Duration = 4000
                        });
                }
            }
        }
    }

    async void OnClickCardDelete(int ID) {
        if (null != dashboardItems)
        {
            DashboardItem? deleteItem = dashboardItems.Where(x => x.ID == ID).FirstOrDefault();

            if (null != deleteItem)
            {
                try 
                {
                    await DashAPI.DeleteItem(deleteItem);
                    dashboardItems = await DashAPI.GetAll();

                    StateHasChanged();

                    ShowNotification(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Success,
                            Summary = "Success",
                            Detail = $"{deleteItem.ID} successfully deleted",
                            Duration = 4000
                        });
                } 
                catch (Exception ex)
                {
                    ShowNotification(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "Error",
                            Detail = ex.Message,
                            Duration = 4000
                        });
                }
            }
        }
    }

    async void OnClickNewSave() {
        DashboardItem addItem = new(){ 
            ID = 0, 
            DisplayName = newDisplay, 
            URL = newURL, 
            Description = newDescription 
        };

        if (newIcon != String.Empty) 
        {
            addItem.Icon = newIcon;
        }

        if (null != addItem) {
            if (DashboardItem.IsValid(addItem)) {
                try
                {
                    await DashAPI.AddItem(addItem);
                    await OnInitializedAsync();

                    //reset state
                    newDescription = String.Empty;
                    newDisplay = String.Empty;
                    newURL = String.Empty;
                    newIcon = String.Empty;

                    addHidden = true;

                    StateHasChanged();
                    ShowNotification(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Success,
                            Summary = "Success",
                            Detail = $"{addItem.ID} successfully added",
                            Duration = 4000
                        });
                }
                catch (Exception ex)
                {
                    ShowNotification(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "Error",
                            Detail = ex.Message,
                            Duration = 4000
                        });
                }
            } 
            else 
            {
                ShowNotification(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Error",
                        Detail = "Object is invalid",
                        Duration = 4000
                    });
            }
        } 
        else {
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Object is null",
                    Duration = 4000
                });
        }
    }

    async Task<string> PictureToBase64String(InputFileChangeEventArgs eventArgs) 
    {
        using var memoryStream = new MemoryStream();
        await eventArgs.File.OpenReadStream(10000000).CopyToAsync(memoryStream);
        var bytes = memoryStream.ToArray();
        var base64 = Convert.ToBase64String(bytes);

        return $"data:{eventArgs.File.ContentType};base64,{base64}";
    }

    private async Task IconUpload(InputFileChangeEventArgs e, int ID)
    {
        if (null != dashboardItems)
        {
            DashboardItem? editItem = dashboardItems.Where(x => x.ID == ID).FirstOrDefault();

            if (null != editItem)
            {
                editItem.Icon = await PictureToBase64String(e);
            }
        }
    }

    private async Task NewIconUpload(InputFileChangeEventArgs e) 
    {
        newIcon = await PictureToBase64String(e);
    } 

    async Task OnDeleteIcon(int ID) {
        if (null != dashboardItems)
        {
            DashboardItem? editItem = dashboardItems.Where(x => x.ID == ID).FirstOrDefault();

            if (null != editItem)
            {
                try
                {
                    editItem.Icon = null;

                    await DashAPI.EditItem(editItem);
                    dashboardItems = await DashAPI.GetAll();

                    StateHasChanged();

                    ShowNotification(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Success,
                            Summary = "Success",
                            Detail = $"{editItem.ID} successfully deleted icon",
                            Duration = 4000
                        });
                }
                catch (Exception ex)
                {
                    ShowNotification(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "Error",
                            Detail = ex.Message,
                            Duration = 4000
                        });
                }
            }
            else
            {
                ShowNotification(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Error",
                        Detail = "Object is invalid",
                        Duration = 4000
                    });
            }
        }
        else
        {
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Object is null",
                    Duration = 4000
                });
        }
    }

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }
}
