@inject danklibrary.DankAPI.Monitoring MonitoringAPI
@inject IJSRuntime JSRuntime

@page "/monitoring/home"

<PageTitle>monitoring</PageTitle>

<RadzenRow Style="max-height: 50%; min-height: 20rem; margin-bottom: 1rem;">
    <RadzenColumn Size="12">
        <RadzenCard Style="width: 100%; height: 100%;">
            <RadzenRow Style="margin-bottom: 0.5rem;">
                <RadzenColumn Size="4" class="flex_left">
                    <RadzenButton Icon="refresh" Click="@OnInitializedAsync" class="flex_internal"/>
                    <RadzenDropDown Data="@timePeriods.Keys.ToList()" @bind-Value="@currentPeriod" TValue="string" Change="@SetPollScale" class="flex_internal"/>
                </RadzenColumn>
                <RadzenColumn Size="4">
                    <RadzenText class="flex_center">
                        Devices Online Over Time
                    </RadzenText>
                </RadzenColumn>
                <RadzenColumn Size="4" class="flex_right">
                    <RadzenTextBox @bind-Value="@monitorDelay" class="flex_internal" />
                    <RadzenText class="flex_internal">
                        seconds
                    </RadzenText>
                    <RadzenButton Icon="save" Click="@(() => UpdateMonitorTimer(int.Parse(monitorDelay!)))" class="flex_internal"/>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow class="flex_center">
                @if (null != currentMonitorStates)
                {
                    <RadzenChart Style="margin-left: 1rem; margin-right: 1rem; margin-top: 1rem; margin-bottom: 3.5rem; width: 100%" class="flex_internal;">
                        <RadzenChartTooltipOptions Shared="true"/>
                        <RadzenLineSeries Data="@onlineDevicesOverTime" TItem="CountAtTime" ValueProperty="DeviceCount" CategoryProperty="SubmitTime" Title="Online">
                            <RadzenMarkers MarkerType="MarkerType.Circle"/>
                        </RadzenLineSeries>
                        <RadzenLineSeries Data="@offlineDevicesOverTime" TItem="CountAtTime" ValueProperty="DeviceCount" CategoryProperty="SubmitTime" Title="Offline">
                            <RadzenMarkers MarkerType="MarkerType.Circle" />
                        </RadzenLineSeries>
                        <RadzenLineSeries Data="@monitoredDevicesOverTime" TItem="CountAtTime" ValueProperty="DeviceCount" CategoryProperty="SubmitTime" Title="Monitored">
                            <RadzenMarkers MarkerType="MarkerType.Circle" />
                        </RadzenLineSeries>
                        <RadzenCategoryAxis LabelRotation="-55"/>
                    </RadzenChart>
                }
                else
                {
                    <RadzenProgressBarCircular Mode="ProgressBarMode.Indeterminate" />
                }
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>
<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenCard>
            <RadzenRow class="monitoring_stats_row">
                <RadzenColumn Size="6">
                    <RadzenCard class="monitoring_card">
                        <RadzenText>
                            All Time Statistics:
                        </RadzenText>
                        @if (null != currentMonitorStates)
                        {
                            <RadzenText>
                                Monitored: @(currentMonitorStates.Select(x => x.IP_ID).Distinct().Count().ToString())
                            </RadzenText>
                            <RadzenText>
                                Polls: @currentMonitorStates.Count()
                            </RadzenText>
                        }
                        else
                        {
                            <RadzenProgressBarCircular Mode="ProgressBarMode.Indeterminate" />
                        }
                    </RadzenCard>
                </RadzenColumn>
                <RadzenColumn Size="6">
                    <RadzenCard class="monitoring_stats_card">
                        <RadzenText>
                            Last Poll Statistics:
                        </RadzenText>
                        @if (null != monitoredIPs && null != lastPolls)
                        {
                            <RadzenText>Time: @(lastDate.ToLocalTime())</RadzenText>
                            <RadzenText>Monitored: @lastPolls.DistinctBy(x => x.IP_ID).Count()</RadzenText>
                            <RadzenText>Online: @lastPolls.Where(x => x.IcmpResponse == true).Count()</RadzenText>
                            <RadzenText>Offline: @lastPolls.Where(x => x.IcmpResponse == false).Count()</RadzenText>
                        }
                    </RadzenCard>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow class="monitoring_stats_row" RowGap="0">
                <RadzenColumn Size="12">
                    <RadzenCard Style="height: fit-content;">
                        <RadzenRow RowGap="0">
                            <RadzenColumn Size="6">
                                <RadzenText class="row_contents">
                                    Monitored IPs
                                </RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="6">
                                <RadzenButton Icon="keyboard_arrow_down" Click="@(() => ToggleMonitoredHidden())" class="right_button row_contents" />
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow class="row" RowGap="0">
                            <div hidden="@monitoredHidden" class="row">
                                <RadzenRow class="row">
                                    <RadzenColumn Size="4" class="row_column">
                                        <RadzenText class="row_contents">
                                            IP Address
                                        </RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn Size="4" class="row_column">
                                        <RadzenText class="row_contents">
                                            Hostname
                                        </RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn Size="4" class="row_column">
                                        <RadzenText class="row_contents">
                                            Last State
                                        </RadzenText>
                                    </RadzenColumn>
                                    <div class="black_line" />
                                </RadzenRow>
                                @if (null != currentlyMonitored)
                                {
                                    var last = currentlyMonitored.Last();
                                    foreach (IP ip in currentlyMonitored)
                                    {
                                        <RadzenRow class="row">
                                            <RadzenColumn Size="4" class="row_column">
                                                <RadzenText class="row_contents">
                                                    @IP.ConvertToString(ip.Address)
                                                </RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="4" class="row_column">
                                                <RadzenText class="row_contents">
                                                    @ip.Hostname
                                                </RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="4" class="row_column">
                                                @if (LastMonitorState(ip.ID))
                                                {
                                                    <RadzenIcon Icon="check" class="row_contents"/>
                                                }
                                                else
                                                {
                                                    <RadzenIcon Icon="close" class="row_contents" />
                                                }
                                            </RadzenColumn>
                                            @if (!(ip == last)) 
                                            {
                                                <div class="grey_line" />
                                            }
                                        </RadzenRow>
                                    }
                                }
                            </div>
                        </RadzenRow>
                    </RadzenCard>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>



@code {
    List<MonitorState>? allMonitorStates;
    List<MonitorState>? currentMonitorStates;

    class CountAtTime {
        required public string SubmitTime { get; set; }
        required public int DeviceCount { get; set; }
    }

    List<CountAtTime> onlineDevicesOverTime = new();
    List<CountAtTime> offlineDevicesOverTime = new();
    List<CountAtTime> monitoredDevicesOverTime = new();

    List<IP>? monitoredIPs;
    List<IP>? currentlyMonitored;

    DateTime lastDate;
    List<MonitorState>? lastPolls;

    public Dictionary<string, int> timePeriods = new();
    string currentPeriod = "1 Hour";

    bool monitoredHidden = true;

    string? monitorDelay;

    async protected override Task OnInitializedAsync()
    {
        if (!timePeriods.ContainsKey("24 Hours")) {

            timePeriods.Add("24 Hours", 24);
        }
        if (!timePeriods.ContainsKey("12 Hours")) 
        {
            timePeriods.Add("12 Hours", 12);
        }
        if (!timePeriods.ContainsKey("6 Hours")) 
        {
            timePeriods.Add("6 Hours", 6);
        }
        if (!timePeriods.ContainsKey("1 Hour"))
        {
            timePeriods.Add("1 Hour", 1);
        }

        monitorDelay = await GetMonitorTimer();
        await UpdateMonitorList();
        await UpdateIPlist();
        StateHasChanged();

        await base.OnInitializedAsync();
    }

    async Task SetPollScale() {
        if (null != allMonitorStates) {
            DateTime fromTime = DateTime.Now.AddHours(-timePeriods[currentPeriod]);
            currentMonitorStates = allMonitorStates.Where(x => x.SubmitTime.ToLocalTime() > fromTime).ToList();

            var submitTimes = currentMonitorStates.Select(x => x.SubmitTime).ToList();
            onlineDevicesOverTime = new();
            offlineDevicesOverTime = new();
            monitoredDevicesOverTime = new();

            foreach (DateTime submit in submitTimes.Distinct()) {
                string strDate = String.Format("{0:ddd HH:mm:ss}", submit);

                var online = new CountAtTime
                {
                    SubmitTime = strDate,
                    DeviceCount = currentMonitorStates.Where(x => x.SubmitTime == submit && x.IcmpResponse == true).DistinctBy(x => x.IP_ID).Count()
                };

                onlineDevicesOverTime.Add(online);

                var offline = new CountAtTime
                {
                    SubmitTime = strDate,
                    DeviceCount = currentMonitorStates.Where(x => x.SubmitTime == submit && x.IcmpResponse == false).DistinctBy(x => x.IP_ID).Count()
                };

                offlineDevicesOverTime.Add(offline);

                var monitored = new CountAtTime
                {
                    SubmitTime = strDate,
                    DeviceCount = currentMonitorStates.Where(x => x.SubmitTime == submit).DistinctBy(x => x.IP_ID).Count()
                };

                monitoredDevicesOverTime.Add(monitored);
            }

            await Task.Delay(1);
        }
    }

    async Task UpdateMonitorList() {
        allMonitorStates = await MonitoringAPI.GetAllPolls();
        await SetPollScale();

        lastDate = allMonitorStates.OrderByDescending(x => x.SubmitTime).Select(x => x.SubmitTime).FirstOrDefault();
        lastPolls = allMonitorStates.Where(x => x.SubmitTime == lastDate).ToList();
    }

    async Task UpdateIPlist() {
        monitoredIPs = await MonitoringAPI.GetMonitoredIPs();

        if (null != lastPolls) {
            var ids = lastPolls.Select(x => x.IP_ID).Distinct();
            currentlyMonitored = monitoredIPs.Where(x => ids.Contains(x.ID)).ToList();
        }

    }

    void ToggleMonitoredHidden() {
        monitoredHidden = !monitoredHidden;
    }

    bool LastMonitorState(int ID) {
        if (null != lastPolls) {
            var state = lastPolls.Where(x => x.IP_ID == ID).FirstOrDefault();

            if (null != state) {
                if (state.IcmpResponse == true)
                {
                    return true;
                }
                else
                {
                    return false;
                }
            } else {
                return false; 
            }

        } else {
            return false;
        }
    }

    async void UpdateMonitorTimer(int delay) 
    {
        await MonitoringAPI.UpdateTimer(delay * 1000);
        monitorDelay = await GetMonitorTimer();
        await MonitoringAPI.RestartService();
    }

    async Task<string> GetMonitorTimer() 
    {
        var timer = (await MonitoringAPI.GetTimer() / 1000);
        return timer.ToString();
    }
}
