@using System.Collections
@using System.Net
@using NetTools
@using System.Text.RegularExpressions

@inject danklibrary.DankAPI.Subnets SubnetsAPI
@inject IJSRuntime JSRuntime

@page "/subtrackr/home"

<PageTitle>subnet trackr</PageTitle>

<div style="display: flex; gap: 1rem; margin-top: 1rem; margin-bottom: 1rem;">
    <RadzenTextBox @bind-Value="@newCidr" Placeholder="0.0.0.0/24"/>
    <RadzenButton Icon="add" Click="@NewSubnet" />
</div>

<div>
    <RadzenCard class="subnet_card">
        <RadzenRow class="row">
            <RadzenColumn Size="2" class="row_column">
                <RadzenText class="row_contents">
                    Subnet Address
                </RadzenText>
            </RadzenColumn>
            <RadzenColumn Size="2" class="row_column">
                <RadzenText class="row_contents">
                    Start Address
                </RadzenText>
            </RadzenColumn>
            <RadzenColumn Size="2" class="row_column">
                <RadzenText class="row_contents">
                    End Address
                </RadzenText>
            </RadzenColumn>
            <RadzenColumn Size="2" class="row_column">
                <div hidden="@(!showSearch)" class="row_contents">
                    <RadzenText class="row_contents">
                        IP Search
                    </RadzenText>
                </div>
            </RadzenColumn>
            <RadzenColumn Size="4">
                <div style="width: 1vw;"/>
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>
    @if (null != SubnetList) {
        foreach (Subnet subnet in SubnetList) {
            <RadzenCard class="subnet_card">
                <RadzenRow Gap="0" class="row">
                    <RadzenColumn Size="2" class="row_column">
                        <RadzenText class="row_contents">
                            @IP.ConvertToString(subnet.Address)
                        </RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="2" class="row_column">
                        <RadzenText class="row_contents">
                            @IP.ConvertToString(subnet.StartAddress)
                        </RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="2" class="row_column">
                        <RadzenText class="row_contents">
                            @IP.ConvertToString(subnet.EndAddress)
                        </RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="2" class="row_column">
                        <div hidden="@(CurrentSubnetRowState[subnet.ID].Hidden)" style="display: inline-flex; align-content: center;">
                            <RadzenTextBox @bind-Value="@CurrentSubnetRowState[subnet.ID].SearchTerm" onkeyup="@((KeyboardEventArgs e) => OnSearchKeyPress(e, subnet.ID))" Placeholder="Search" Style="margin-right: 2%; width: 85%;" class="row_contents" />
                            <RadzenButton Icon="search" Click="@(() => SearchSubnet(subnet.ID))" class="right_button row_contents" Style="max-width: 15%"/>
                        </div>
                    </RadzenColumn>
                    <RadzenColumn Size="2" class="row_column" Style="gap: 0.5rem;">
                        <RadzenButton Icon="keyboard_arrow_down" Click="@(() => OnClickExpand(subnet.ID))" class="row_contents" />
                        <RadzenButton Icon="delete" Click="@(() => OnClickDelete(subnet.ID))" class="row_contents" />
                    </RadzenColumn>
                    <RadzenColumn Size="2">

                    </RadzenColumn>
                </RadzenRow>
                <div hidden="@(CurrentSubnetRowState[subnet.ID].Hidden)">
                    <RadzenCard>
                        @if (null != subnet.List)
                        {
                            <RadzenRow Gap="0" class="row">
                                <RadzenColumn Size="2" class="row_column">
                                    <RadzenText class="row_contents">
                                        IP Address
                                    </RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="2" class="row_column">
                                    <RadzenText class="row_contents">
                                        Hostname
                                    </RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="2" class="row_column">
                                    <RadzenText class="row_contents">
                                        Monitored
                                    </RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="2" class="row_column">
                                    <RadzenText class="row_contents">
                                        ICMP
                                    </RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="2" class="row_column">
                                    <RadzenText class="row_contents">
                                        Ports
                                    </RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="2">

                                </RadzenColumn>
                            </RadzenRow>

                            <div hidden="@(CurrentSubnetRowState[subnet.ID].Hidden)">
                                <Virtualize Items="@(subnet.List.Where(x => x.RowState.Hidden == false).ToList())">
                                    @if (!CurrentSubnetRowState[subnet.ID].Hidden)
                                    {
                                        <RadzenRow Style="height: 100%;" RowGap="0">
                                            <div class="black_line" />
                                            <RadzenRow class="row" RowGap="0">
                                                <RadzenColumn Size="2" class="row_column">
                                                    <RadzenText class="row_contents">
                                                        @IP.ConvertToString(context.Address)
                                                    </RadzenText>
                                                </RadzenColumn>

                                                @if (null != context.RowState)
                                                {
                                                    <RadzenColumn Size="2" class="row_column">
                                                        @if (context.RowState.EditHidden)
                                                        {
                                                            <RadzenText class="row_contents">
                                                                @context.Hostname
                                                            </RadzenText>
                                                        }
                                                        else
                                                        {
                                                            <RadzenTextBox @bind-Value="@context.Hostname" Style="width: 100%" class="row_contents" />
                                                        }
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="2" class="row_column">
                                                        @if (context.IsMonitoredICMP || context.IsMonitoredTCP)
                                                        {
                                                            <RadzenIcon Icon="check" class="row_contents" />
                                                        }
                                                        else
                                                        {
                                                            <RadzenIcon Icon="close" class="row_contents" />
                                                        }
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="2" class="row_column">
                                                        @if (context.RowState.EditHidden)
                                                        {
                                                            if (context.IsMonitoredICMP)
                                                            {
                                                                <RadzenIcon Icon="check" class="row_contents" />
                                                            }
                                                            else
                                                            {
                                                                <RadzenIcon Icon="close" class="row_contents" />
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <RadzenSwitch @bind-Value="@context.IsMonitoredICMP" />
                                                        }
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="2" class="row_column">
                                                        @if (context.RowState.EditHidden)
                                                        {
                                                            if (null != context.RowState.PortNumbers)
                                                            {
                                                                <RadzenText class="row_contents">
                                                                    @context.RowState.PortNumbers
                                                                </RadzenText>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <RadzenTextBox @bind-Value="@context.RowState.PortNumbers" Style="margin-right: 0.5rem;" class="row_contents" />
                                                        }
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="2" class="row_column">
                                                        @if (context.RowState.EditHidden)
                                                        {
                                                            <RadzenButton Icon="edit" Click="@(() => OnClickEdit(context))" class="row_contents" />
                                                        }
                                                        else
                                                        {

                                                            <RadzenButton Icon="save" Click="@(() => OnClickSave(context))" class="row_contents" />
                                                        }
                                                    </RadzenColumn>
                                                }
                                                else
                                                {
                                                    <RadzenColumn Size="10" />
                                                }
                                            </RadzenRow>
                                        </RadzenRow>
                                    }
                                </Virtualize>
                            </div>
                        }
                    </RadzenCard>
                </div>

            </RadzenCard>
        }
    }
    else 
    {
        <RadzenProgressBarCircular Mode="ProgressBarMode.Indeterminate"/>
    }
</div>

@code {
    List<Subnet>? SubnetList;
    bool showSearch = false;
    string? newCidr;

    Dictionary<int, SubnetRowState> CurrentSubnetRowState = new();

    async protected override Task OnInitializedAsync()
    {
        await RefreshSubnetList();

        await base.OnInitializedAsync();
        StateHasChanged();
    }

    async Task RefreshSubnetList() {
        SubnetList = await SubnetsAPI.GetAll();

        foreach (var subnet in SubnetList) {
            if (!CurrentSubnetRowState.ContainsKey(subnet.ID)) 
            {
                var curRowState = new SubnetRowState
                    {
                        Hidden = true,
                        SearchTerm = String.Empty
                    };

                CurrentSubnetRowState.Add(subnet.ID, curRowState);
            }
        }

        foreach (var ip in SubnetList.SelectMany(x => x.List))
        {
            ip.RowState = new IpRowState
                {
                    Hidden = false,
                    EditHidden = true
                };

            if (null != ip.PortsMonitored)
            {
                ip.RowState.PortNumbers = StringFromListInt(ip.PortsMonitored);
            }
        }
    }

    void OnClickExpand(int ID) {
        var subnet = SubnetList.Where(x => x.ID == ID).First();
        CurrentSubnetRowState[subnet.ID].Hidden = !CurrentSubnetRowState[subnet.ID].Hidden;
        showSearch = !showSearch;
        StateHasChanged();
    }

    void OnClickEdit(IP ip) {
        if (null != ip.RowState) 
        {
            ip.RowState.EditHidden = !ip.RowState.EditHidden;

            if (null != ip.PortsMonitored)
            {
                ip.RowState.PortNumbers = StringFromListInt(ip.PortsMonitored);
            }

            StateHasChanged();
        }
    }

    async void OnClickSave(IP ip) {
        if (null != ip.RowState) 
        {
            if (null != ip.RowState.PortNumbers && ip.RowState.PortNumbers != String.Empty)
            {
                ip.PortsMonitored = ListIntFromString(ip.RowState.PortNumbers);
            }

            await SubnetsAPI.EditIP(ip);
            await RefreshSubnetList();
            StateHasChanged();
        }
    }

    async void NewSubnet() {
        if (null != newCidr) 
        {
            await SubnetsAPI.AddSubnet(newCidr);
            newCidr = String.Empty;
            await OnInitializedAsync();
        }
    }

    async void OnClickDelete(int ID) {
        await SubnetsAPI.DeleteSubnet(ID);
        await OnInitializedAsync();
    }

    List<int> ListIntFromString(string text) {
        var list = new List<int>();

        if (text != String.Empty) {
            var strList = text.Split(",");

            foreach (string str in strList)
            {
                list.Add(int.Parse(str));
            }
        }
        
        return list;
    }

    string StringFromListInt(List<int> intput) {
        string returnStr = String.Empty;

        foreach (int num in intput) {
            returnStr = returnStr + $"{num.ToString()},";
        }

        if (returnStr.Length > 1) {
            returnStr = returnStr.Remove(returnStr.Length - 1);
        }
        
        return returnStr;
    }

    void SearchSubnet(int subnetID) {
        if (null != SubnetList) 
        {
            var subnet = SubnetList.Find(x => x.ID == subnetID);

            if (null != subnet)
            {
                foreach (var ip in subnet.List) {
                    if (null != ip.RowState) {
                        ip.RowState.Hidden = false;
                    }
                }

                if (null != CurrentSubnetRowState[subnet.ID] && null != CurrentSubnetRowState[subnet.ID].SearchTerm)
                {
                    string pattern = "[A-Z]+";
                    var regex = new Regex(pattern, RegexOptions.IgnoreCase);
                    var match = regex.Match(CurrentSubnetRowState[subnet.ID].SearchTerm!);

                    var ipList = new List<IP>();

                    if (match.Success) 
                    {
                        ipList = subnet.List.Where(x => null != x.Hostname && !x.Hostname.Contains(CurrentSubnetRowState[subnet.ID].SearchTerm!)).ToList();
                        ipList.AddRange(subnet.List.Where(x => null == x.Hostname || String.Empty == x.Hostname));
                    } 
                    else 
                    {
                        ipList = subnet.List.Where(x => !(IP.ConvertToString(x.Address)).Contains(CurrentSubnetRowState[subnet.ID].SearchTerm!)).ToList();
                    }

                    if (ipList.Count > 0)
                    {
                        foreach (var ip in ipList)
                        {
                            if (null != ip.RowState)
                            {
                                ip.RowState.Hidden = true;
                            }
                        }
                    }
                    else
                    {
                        foreach (var ip in subnet.List)
                        {
                            if (null != ip.RowState)
                            {
                                ip.RowState.Hidden = false;
                            }
                        }
                    }
                }
                else if (null == CurrentSubnetRowState[subnet.ID].SearchTerm || String.Empty == CurrentSubnetRowState[subnet.ID].SearchTerm)
                {
                    foreach (var ip in subnet.List)
                    {
                        if (null != ip.RowState)
                        {
                            ip.RowState.Hidden = false;
                        }
                    }
                }
            }

            StateHasChanged();
        }
    }

    void OnSearchKeyPress(KeyboardEventArgs eventArgs, int ID) {
        if (eventArgs.Code == "Enter") {
            SearchSubnet(ID);
        }
    }
}
